<html>

<head>
  <title>進振りサービス</title>
  <meta charset="utf-8">
</head>

<body>
  <h1>進振りサービス for 東大生</h1>
  <% if user_signed_in?	 %>
  <% @scores = Score.where(user_name: current_user.name) %>
  <% if @scores.any? %>
    <%= link_to("成績を追加する", "/input/基礎科目") %>
  <% else %>
    <%= link_to("成績を入力する", "/input/基礎科目") %>
  <% end %>
  <%= link_to("お問い合わせ", "/inquiry") %>
  <% else %>
    <p>サービスを利用するには、<%= link_to("ログイン", "/users/sign_in") %>または<%= link_to("新規登録", "/users/sign_up") %>してください。</p>
  <% end %>

  <h2>本サービスについて</h2>

本サービスでは、各科目の取得点数を入力し希望の進学先を選択することで、進振りに使われる第一段階における評点が学部ごとの計算方法に基づき自動で算出されます。<br /><br />
<h3>KALSについて</h3><br />
本サービスは、T大の進振り計算システムは間違っているfrom KALS projectが提供するサービスです。<br />
KALS project とは、駒場の( of Komaba）有能な（Able）な職員たち(Labors）を助ける(Supporting)ことを目的としたprojectです。<br />
皆さんが知る通り我らが頭狂大学は、親身に学生によりそう様々なサービスを教務課のサポートやユーザーに優しいUTASなどのwebサイトを含め様々な方面で提供してくれています。<br />
我々はそのようなすべての大学関係者に深く感謝を感じ、彼らの隅々まで行き届いた素晴らしいサービスの中で残念ながら手の届かないところを補おうということで設立されました。<br />
本サービスも普通の本学生では容易に理解し計算できる進振りにおける評点を、数少ない我々のようなチンパンジーである二等学生のために楽に計算できるようにしたものです。<br />
履修の手引きすらも容易に読解できない我々のような学生が天下の東京大学に両手で数えるほど存在するとは思えませんが、これを使ってくれているチンパンジーの諸君の何らかの力になれたら光栄です。<br />
<br />
<small>＊KALS project の説明は明らかな虚偽であり、KALS projectとはKomaba Active Learning Studio projectの略で東大の授業をITを通じて向上させようという団体です。</small><br />
<br />
<h3>利用手順</h3>
<ol>
<li>ユーザー名とパスワードを設定しユーザー登録をします</li>
<li>科類を選択します</li>
<li>各系列で履修した授業ごとに点数を入力します</li>
<li>希望学部を選択します</li>
<li>希望学部の計算方法に基づき進振りに使用される評点が算出されます</li>
</ol>
<h3>特徴</h3>
<ol>
<li>一度点数を入力するだけで学部ごとの点数計算方法に従って評点が算出されます。</li>
<li>学年、取得単位数を問わず使用できます。</li>
<li>過去の進振りの点数と自分の現在の評点を比較できます。</li>
<li>追い出しや重率を気にする必要がありません！！</li>
<li>東大教授によるバックアップのあるサービスです。</li>
<li>UTASや教務課に対するストレスが緩和されます！</li>
</ol>
<br />

<h3>使用上の注意について</h3>
<ol>
<li>点数を入れた後必ず左側のボックスをチェックしてください。チェックがないと点数に反映されません。</li>
<li>第一段階の評点算出方法で計算いたします。</li>
<li>本サービスは参考程度にしてください。チンパンジー向けシステムなので平均点などはチンパンジーの平均とお考えください。</li>
<li>一切の苦情は受け付けません。また進振りに失敗しても一切の責任は負いませんのでご確認ください。</li>
</ol>
<br />

<h3>進振りの点数の計算方法について</h3>

進振りにおいて前期教養学部在籍時の点数から算出される“いわゆる平均点”により２A以降の学部が決定する。<br />
なぜ“いわゆる”を付けたかというと単純にとった点数を足して足した数だけ割るシステムではなく初見では南海複雑なものとなっているからである。<br />
さらに理系では学部ごとに算出方法が異なっていることが多く、色々な学部を考えている者にとっては面倒くさいことこの上ないシステムなのである。<br /><br />

基本的な計算方法は以下である。<br />

科目iを計算する場合。<br />
Iのそれぞれ素点・単位数・重率が計算では使用される。<br /><br />

　　Σ（科目iの素点　×　iの単位数　×　iの重率）/ Σ（iの単位数　×　iの重率）<br /><br />

チンパンジーの皆さんではこれだけでは何が何だかわからないと思う。<br /><br />

以下に例を挙げる。<br />
Sセメスターで系列Aの美術論をとり素点が７８だったとする。<br />
セメスターの授業は2単位であり、タームの授業は1単位であるので今回の単位数は２である。<br />
重率は基本的には１である。<br /><br />

すると上の式では分子に７８（素点）×２（単位数）×１(重率)が代入され、分子には２(単位数)×１(重率)が代入される。<br />

<small>＊重率というのは基本的には１である。<br />
必要以上に授業を取った場合は0.1になる。<br />
一部の学部では特定の科目が1.5に変化するなど変則的でめんどうくさいものである。<br />
しかし重率は平均点を計算するうえで避けては通れない問題である。<br /></small><br />


まあ何が何だかわからないという方もこのように進振りのため計算し自分の点数を算出するのは非常に労力のいることはわかっていただけたと思う。<br /><br />

今回我々が提供するサービスではこのような面倒なことを考えずに、素点を入力し学部を選択するだけで、現時点での進振りの点数が計算できるようになっている。<br /><br />

このような複雑な仕組みを理解しなくとも、評点の点数が計算でき計算の時間の削減で成績の向上の助けになれば幸いである。<br /><br /><br />
</body>

</html>
