<html>

<head>
  <title>進振りサービス</title>
  <meta charset="utf-8">
</head>

<body>
  <h1>進振りサービス for 東大生</h1>
  <% if user_signed_in?	 %>
  <% @scores = Score.where(user_name: current_user.name) %>
  <% if @scores.any? %>
    <%= link_to("成績を追加する", "/input/基礎科目") %>
  <% else %>
    <%= link_to("成績を入力する", "/input/基礎科目") %>
  <% end %>
  <%= link_to("お問い合わせ", "/inquiry") %>
  <% else %>
    <p>サービスを利用するには、<%= link_to("ログイン", "/users/sign_in") %>または<%= link_to("新規登録", "/users/sign_up") %>してください。</p>
  <% end %>
</body>

</html>
