<!--多分使わない-->

<html>

  <head>
    <title><%= @class %>の成績を追加</title>
    <meta charset="utf-8">
  </head>

  <body>
    <h1><%= @class %>の成績を追加</h1>
    <p><%= @class %>の成績を入力してください</p>
    <% case @class
    when "基礎科目"
      @class = "kiso"
    when "総合科目L"
      @class = "sougouL"
    when "総合科目A"
      @class = "sougouA"
    when "総合科目B"
      @class = "sougouB"
    when "総合科目C"
      @class = "sougouC"
    when "総合科目D"
      @class = "sougouD"
    when "総合科目E"
      @class = "sougouE"
    when "総合科目F"
      @class = "sougouF"
    end %>
    <%= form_tag("/score/#{@class}/mypage") do %>
      <table>
      <thead>
        <tr>
          <th>登録</th>
          <th>授業名</th>
          <th>点数</th>
        </tr>
      </thead>
      <tbody>
        <% n = 10 %>
        <% unless @score_list %>
          <% @score_list = Array.new(n+1, Array.new(5,"")) %>
        <% end %>
        <% for i in 1..n %>
          <% save_i = "save" + i.to_s
          class_name_i = "class_name" + i.to_s
          score_i = "score" + i.to_s
          credit_i = "credit" + i.to_s
          weight_i = "weight" + i.to_s %>
          <tr>
            <td>
              <input type="checkbox" name="<%= save_i %>" value="checked" <% if @score_list[i][0]=="checked" %>checked<% end %>>
            </td>
            <td>
              <input type="hidden" name="<%= class_name_i %>" value="<%= @score_list[i][1] %>">
              <%= @score_list[i][1] %>
            </td>
            <td>
              <input name="<%= score_i %>" value="<%= @score_list[i][2] %>">
            </td>
            <td>
              <input type="hidden" name="<%= credit_i %>">
            </td>
            <td>
              <input type="hidden" name="<%= weight_i %>">
            </td>
          </tr>
        <% end %>
      </tbody>
      </table>
      <input type="submit" value="保存">
    <% end %>
  </body>

  </html>
