<html>

<head>
 <title>ユーザー新規登録</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "user/new", :media => "all" %>
  <script src ="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script>
		$(document).ready(function() {
			$('select').material_select();
		});
	</script>
</head>

<body>
 <div class="container-us-new">
  
  <div class="card-panel">
  <h5>新規登録</h5>
  <div calss="card-contents">
  <% if @user.errors.any? %>
    <strong>入力内容にエラーがあります</strong>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_for (@user), :url => {:action => :create} do |f| %>
        <div class="row">
        <div id="user_id" class="input-field col s12 validate">
        	<label for="user_id">User ID</label>
        	<%= f.text_field :name, :autocomplete => :off, value: @user.name %>
        </div>
	  </div>
   	<div class="row">
    	<div id="password" class="input-field col s12 validate">
        	<label for="password">パスワード(6文字以上)</label>
        	<%= f.password_field :password, :autocomplete => :off %>
        </div>
	  </div>
       <div class="row">
        <div class="input-field col s12">
        	<%= f.select :karui, [["文科一類","文科一類"],["文科二類","文科二類"],["文科三類","文科三類"],["理科一類", "理科一類"],["理科二類", "理科二類"],["理科三類", "理科三類"],], :prompt => "科類を選択してください" %>
        </div>
	  </div>
       <div class="row center">
        <div class="btn waves-effect waves-light">
        <%= f.submit %>
        <i class="material-icons right">send</i>
        </div>
	 </div>
  <% end %>
	  </div>
	 </div>
  </div>
</body>

</html>
