<html>

<head>
  <title>ユーザー新規登録</title>
  <meta charset="utf-8">
</head>

<body>
  <h1>新規登録</h1>
  <% if @user.errors.any? %>
    <strong>入力内容にエラーがあります</strong>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_for (@user), :url => {:action => :create} do |f| %>
    <p>ユーザ名</p>
    <%= f.text_field :name, value: @user.name %>
    <p>科類</p>
    <%= f.select :karui, [["理科一類", "理科一類"],["理科二類", "理科二類"],["理科三類", "理科三類"],["文科一類","文科一類"],["文科二類","文科二類"],["文科三類","文科三類"]], :prompt => "選択してください" %>
    <p>パスワード</p>
    <%= f.password_field :password %>
    <br>
    <%= f.submit %>
  <% end %>

</body>

</html>
