<!DOCTYPE html>
<html>
  <head>
    <title>ShinhuriiApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] %>
      <%= link_to("トップへ", "/") %>
      <%= link_to("ログアウト", "/logout", {method: "post"}) %>
      <%= link_to("#{@current_user.name}のマイページ", "/user/#{@current_user.name}") %>
    <% else %>
      <%= link_to("トップへ", "/") %>
    <% end %>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <%= yield %>
    <h3>KALS Project</h3>
    <p><small>created by やはりT大の進振りシステムはまちがっている。</small></p>
  </body>
</html>
