<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to("トップへ", "/") %>
      <%= link_to("ログアウト", "/users/sign_out", {method: "delete"}) %>
      <%= link_to("#{current_user.name}のマイページ", "/user/mypage") %>
    <% else %>
      <%= link_to("トップへ", "/") %>
    <% end %>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <%= yield %>
  </body>
</html>
