<!DOCTYPE html>
<html>
  <head>
    <title>ShinhuriiApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to("トップへ", "/") %>
      <%= link_to("ログアウト", "/users/sign_out", {method: "delete"}) %>
      <%= link_to("#{current_user.name}のマイページ", "/user/mypage") %>
    <% end %>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <%= yield %>
    <h3>KALS Project</h3>
    <p><small>created by やはりT大の進振りシステムはまちがっている。</small></p>
  </body>
</html>
